NEXT_PUBLIC_TMDB_API_KEY=35652cb514cdd28e026616ccb22e7419
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAs2qLJTfG6iICd3h52RpeS4XawwUWpeW8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=watchatlas.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=watchatlas
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=watchatlas.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=172709170157
NEXT_PUBLIC_FIREBASE_APP_ID=1:172709170157:web:5e9498acefef09811875e4
NEXT_PUBLIC_GOOGLE_CLIENT_ID=762669184602-nfga6jhf1u1qj78gri9r8irmre0qtu26.apps.googleusercontent.com